[Unit]
Description=IPFS daemon

[Service]
Type=simple
ExecStart=/usr/bin/ipfs daemon --init $IPFS_DAEMON_ARGS

# Hardening
SystemCallArchitectures=native
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
